.deneme{ 
    width:550px;
    height:500px;
}
.list{
    list-style: none;

}
body{
    background-color: rgb(255, 255, 255);
}
li {
    font-size: 30px; 
    line-height: 60px;
  }
 footer{
    background-color: rosybrown;
 }